:root {
    --primary-color: #0077b6;
    --secondary-color: #00b4d8;
    --accent1-color: #03045e;
    --accent2-color: #90e0ef;
    --text-font: "Roboto", sans-serif;
    --heading-font: "Merriweather", serif;
    --font-weight: 200;
    --padding: 10px;
}

* {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-bottom: 20px;
    position: relative;
    overflow: auto;
}

nav, .social-icons, .employees {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-design, .social-icons a, button {
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-design {
    padding: 0 40px;
    border: 2px solid rgba(0, 64, 119, 0.7);
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.heading1, .history-heading, .future-heading {
    position: absolute;
    font-family: var(--heading-font);
}

.heading1 { left: 37%; bottom: 86%; }
.history-heading { left: 43%; top: 10px; }
.future-heading { left: 38%; top: 10px; }

.boxmain, .hero, .history-div, .future-div, .contact-info, .employees {
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 3rem;
    margin-bottom: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.rafting-image, .employee img {
    float: right;
    border-radius: 40%;
}

.rafting-images2 {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    color: var(--accent1-color);
}

.reach, .wire, .move, .wired {
    text-align: center;
    padding: 1rem;
    color: var(--accent2-color);
}

.team1 {
    width: 600px;
}

.employee {
    display: inline-block;
    text-align: center;
    margin: 10px;
    flex: 3;
}

form label, form input, form textarea {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    padding: 1rem;
}

form input, form textarea, fieldset {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    background-color: #eaeaea;
    margin-top: 10px;
}

input[type="checkbox"] { width: 22px; height: 22px; }

button {
    background-color: #004466;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #003355;
    transform: scale(1.02);
}

.social-icons a:hover { color: var(--accent1-color); transform: scale(1.2); }

.maps { padding: 2rem; }
.maps-pos { display: grid; grid-template-columns: 10% 90%; overflow: hidden; }

ul { padding: 15px; }
.check { display: grid; grid-template-columns: 400px 10px; }
