:root {
    --primary-color: #0077b6;
    --secondary-color: #00b4d8;
    --accent1-color: #03045e;
    --accent2-color: #90e0ef;
    --text-font: "Roboto", sans-serif;
    --heading-font: "Merriweather", serif;
    --font-weight: 200;
    --padding: 10px;
}

* {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
}

header, footer {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header {
    padding: 1rem;
    margin-bottom: 20px;
    position: relative;
}

footer {
    height: 100px;
}

.navigation {
    position: absolute;
    padding: 10px;
    top: 80px;
    left: 400px;
    text-align: center;
}

.nav-design {
    padding: 0 40px;
    border: 2px solid rgba(0, 64, 119, 0.7);
    background-color: var(--accent2-color);
    color: var(--primary-color);
    text-decoration: none;
}

.heading1, .history-heading, .future-heading {
    font-family: var(--heading-font);
    position: absolute;
}

.heading1 {
    left: 37%;
    bottom: 86%;
}

.history-heading {
    text-align: center;
    left: 43%;
    top: 10px;
}

.future-heading {
    left: 38%;
    top: 10px;
}

.boxmain, .hero, .history-div, .future-div {
    box-sizing: border-box;
    border: 2px solid rgb(0 0 0 / 0.2);
    margin-bottom: 2rem;
    position: relative;
    padding: 3rem;
}

.paragraph, .history-text, .future-text {
    padding: 3rem;
}

.rafting-image {
    float: right;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 30px;
    color: var(--accent2-color);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: var(--accent1-color);
    transform: scale(1.2);
}
