:root{
    --padding: 10px
}

nav {
    background-color: black;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: red;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
}

main {
    max-width: 840px;
}

aside {
    box-sizing: border-box;
    width: auto;
    margin: 10px;
    border: 2px solid rgb(0 0 0 / 0.2);
    padding: var(--padding);
    background-color: #970c0c;
    color: #e6e6e6;
    text-align: center;
}

aside img {
    width: 400px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 2px solid rgb(0 0 0 / 0.2);
    text-align: center;
}
/* This is what a css comment looks like */